.popup__form-name {
    border: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    margin-top: 54px;
    font-size: 14px;
    line-height: 30px;
}

@media all and (max-width: 700px) {
    .popup__form-name {
        margin-top: 75px;
        width: 238px;
    }
  } 
